.gallery {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 2.5rem;

  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  & img {
    border-radius: 1.3rem;
  }

  & .left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  & .right {
    & img {
      height: 100%;
      width: 100%;
    }
  }
}
