.checkout-modal {
  position: absolute;
  top: 11rem;
  right: 19rem;
  background: $white;
  padding: 3rem;
  border-radius: 1.3rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.178);
  z-index: 1000;
}

.checkout-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
}
